* {
    box-sizing: border-box;
  }
  
  /*
    The background color will be #ccc
    at browser widths above 768px
  */
  body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
  
    /* Visual */
    background-image: url("https://render.fineartamerica.com/images/rendered/default/print/8.000/6.375/break/images-medium-5/horn-of-plenty-cornucopia-autumn-thanksgiving-harvest-landscape-oil-painting-food-abundance-walt-curlee.jpg");
  }
  
  /*
    The width of the wrapper will be 1024px
    at browser widths above 768px
  */
  .wrapper {
    /* Box-model */
    width: 1024px;
  
    /* Positioning */
    margin: 40px auto;
  }
  
  #main-content,
  #sidebar {
    /* Box-model */
    width: 500px;
    padding: 30px;
  }
  
  #main-content {
    /* Positioning */
    float: left;
  
    /* Visual */
    background: #fff;
  }
  
  #sidebar {
    /* Positioning */
    float: right;
  
    /* Visual */
    background: #eee;
  }