body{
  background: url("https://previews.123rf.com/images/rawpixel/rawpixel1808/rawpixel180804247/116130371-dishes-for-a-ramadan-feast.jpg");
}

.text{
  color: black;
  line-height: 20px;
}

p{
  color: black;
}

.output{
  border-bottom: solid 1px #ee6e73;
}

.recipe-select-mobile{
  display: none;
}

.searchForm{
  display: none;
}

@media only screen and (max-width: 600px) {
  .video{
    display: none;
  }
  .recipe-select-mobile{
    display: block;
  }
  .recipe-select{
    display: none;
  }
}